In [3]:
tupla = (1, 2, 3, 4)

for i in tupla:
    print(i)

1
2
3
4

In [5]:
tupla_tupla = (4, 5, 6), (7, 8)
print(tupla_tupla[0][2])
print(tupla_tupla[1][0])

6
7

In [7]:
for i in tupla_tupla:
    for k in i:
        print(k)

4
5
6
7
8

In [8]:
tupla = tuple("string")
print(tupla)

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tupla = tuple(['foo', [1, 2, 3], True])
print(tupla)

('foo', [1, 2, 3], True)

In [10]:
tupla[1].append(4)
print(tupla)

('foo', [1, 2, 3, 4], True)

In [12]:
tupla = tuple(['foo', [1, 2, 3], True])
print(tupla)

lista = list(tupla)
print(lista)


lista.insert(0, 'fiap')
print(lista)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
['fiap', 'foo', [1, 2, 3], True]

In [13]:
tupla = tuple(['foo', [1, 2, 3], True])
print(tupla)

lista = list(tupla)
print(lista)

posicao_insercao = lista.index('foo') + 1
lista.insert(posicao_insercao, 'foo fighters')

tupla_nova = tuple(lista)
print(tupla_nova)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
('foo', 'foo fighters', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('fiap', 1)

(4, None, 'foo', 6, 0, 'fiap', 1)

In [15]:
(4, None, 'foo') * 4

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo', 4, None, 'foo')

In [17]:
def nome_funcao():
    a = (20 + 50)/ 2
    b = (20 + 50)
    return a, b
nome_funcao()

(35.0, 70)

In [19]:
# 1) Crie uma tupla chamada frutas com os seguinte itens: "maçã", "banana", "laranja", "uva"

frutas = ("maçã", "banana", "laranja", "uva")

banana

In [ ]:
# 2) Acesse o segundo elemento da tupla frutas

frutas = ("maçã", "banana", "laranja", "uva")
print(frutas[1])

In [26]:
# 3) Substitua o terceiro elemento da tupla frutas por "manga", e armazene a tupla modificada em uma nova variável chamada frutas_modificadas

frutas = ("maçã", "banana", "laranja", "uva")
lista = list(frutas)
lista.remove("laranja")
print(lista)

posicao_insercao = lista.index("banana") + 1
lista.insert(posicao_insercao, "manga")

frutas_modificadas = tuple(lista)
print(frutas_modificadas)

['maçã', 'banana', 'uva']
('maçã', 'banana', 'manga', 'uva')

In [29]:
# 4) Concatene a tupla frutas_modificadas com a tupla ("abacaxi, "limão") e armazene o resultado em uma nova tupla chamada frutas_concatenadas

tupla2 = ('abacaxi', 'limao')

frutas_concatenadas = frutas_modificadas + tupla2
print(frutas_concatenadas)

('maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limao')

In [31]:
# 5) Verifique se elemento "uva" esta presente na tuplas frutas_concatenadas

if "uva" in frutas_concatenadas:
    print('O elemento uva esta apresdenta na tupla')
else:
    print('O elemento uva nao esta presente na tupla')

O elemento uva esta apresdenta na tupla

In [63]:
# 6) Crie um algoritimo para calcular a média dos alunos abaixo. Utilize estrutura de repetição e tuplas
lista_aluno = [("Laura", 85, 90, 88),
("Paulo", 60, 75, 68),
("Ana", 68, 80, 90),
("Jose", 80, 90, 72)]

for nota in lista_aluno:
    nome, nota1, nota2, nota3 = nota
    medias = (nota1 + nota2 + nota3)/3
    print(nome, medias)

Laura 87.66666666666667
Paulo 67.66666666666667
Ana 79.33333333333333
Jose 80.66666666666667

In [66]:
# 7) Crie um programa para analise de despesas. Utilize estrutura de repetição e tuplas.

# Viagens: 5000, 15000, 25000, 9800
# Restaurantes: 230, 100, 50, 415
# Transporte: 50, 15, 89, 115

despesas = [("Viagens", 5000, 15000, 25000, 9800),
("Restaurantes", 230, 100, 50, 415),
("Transporte", 50, 15, 89, 115)]

for precos in despesas:
    programa, preco1, preco2, preco3, preco4 = precos
    soma_total = (preco1 + preco2 + preco3 + preco4)
    print(programa, soma_total)

Viagens 54800
Restaurantes 795
Transporte 269

In [71]:
# 8) Crie um programa para catagolação de livros. Utilize a estrutura de repetição e tuplas.

livros = [('O senhor dos aneis', 'J. R. R. Tolkien'),
('O Hobbit', 'J. R. R. Tolkien'),
('Harry Potter', 'J.K Rowling')]

for livro in livros:
    nome, nome_autor = livro
    catalogo = nome + " " + "-" + " " + nome_autor
    print(catalogo)

O senhor dos aneis - J. R. R. Tolkien
O Hobbit - J. R. R. Tolkien
Harry Potter - J.K Rowling

In [72]:
estudantes = [
    {'nome': 'Alice', 'Idade': 40},
    {'nome': 'Bob', 'Idade': 37},
    {'nome': 'Chris', 'Idade': 33}
]

print(estudantes)

[{'nome': 'Alice', 'Idade': 40}, {'nome': 'Bob', 'Idade': 37}, {'nome': 'Chris', 'Idade': 33}]

In [74]:
import pandas as pd

dados = pd.DataFrame(estudantes)
dados

    nome  Idade
0  Alice     40
1    Bob     37
2  Chris     33