In [2]:
for i in range(1, 11):
    for k in range(1, 11):
        print(f'{i} x {k} = {i*k}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [4]:
alunos1 = [7, 8, 9, 10, 6]
alunos2 = [8, 9, 10, 5, 7]

for nota1 in alunos1:
    for nota2 in alunos2:
        if nota1 == nota2:
            print(f'Nota igual encontrada: {nota1}')

Nota igual encontrada: 7
Nota igual encontrada: 8
Nota igual encontrada: 9
Nota igual encontrada: 10

In [3]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

for i in range(len(lista1)):
    for k in range(len(lista2)):
        if i == k: 
            print(f'A soma dos elementos na posição {i} é {lista1[i] + lista2[k]}')

A soma dos elementos na posição 0 é 5
A soma dos elementos na posição 1 é 7
A soma dos elementos na posição 2 é 9

In [5]:
palavras = ["javascript", "python", "diego", "joao"]

vogais = 'aeiou'

for palavra in palavras:
    count_vogais = 0
    for letra in palavra:
        if letra in vogais:
            count_vogais += 1
    print(f'A palavra {palavra} tem {count_vogais} vogais')

A palavra javascript tem 3 vogais
A palavra python tem 1 vogais
A palavra diego tem 3 vogais
A palavra joao tem 3 vogais

In [ ]:
# Crie uma estrutura para mostrar uma tabuada que calcule a multiplicação de numeros de 2 a 6

# Crie uma estrutura para contar o número de consoantes da lista a seguir:
# lista_palavras = ["brazil", "inglaterra", "estados unidos", "canada", "chile"]

# Crie uma estrutura para verificar se as palavras chave aparecem no paragrafo:
# lista_texto = ["hoje é sexta feira", "em 2022 tivemos copa do mundo", "a melhor forma de estudar python é praticar"]
# palavras_chave = ["hoje", "mundo", "estudar", "praticar"]

In [ ]:
for i in range(1, 7):
    for k in range(1, 11):
        print(f'{i} x {k} = {i*k}')

In [ ]:
lista_palavras = ["brazil", "inglaterra", "estados unidos", "canada", "chile"]

vogais = 'aeiou'

for palavra in lista_palavras:
    count_consoantes = 0
    for letra in palavra:
        if letra not in vogais:
            print(f'A palavra {palavra} tem {count_consoantes} consoantes')

In [7]:
lista_texto = ["hoje é sexta feira", "em 2022 tivemos copa do mundo", "a melhor forma de estudar python é praticar"]

palavras_chave = ["hoje", "mundo", "estudar", "praticar"]

for texto in lista_texto:
    lista_palavras = []
    for palavra in palavras_chave:
        if palavra in texto:
            lista_palavras.append(palavra)
    print(f"As palavras chave {', '.join(lista_palavras)} aparece no texto {texto}'")

As palavras chave hoje aparece no texto hoje é sexta feira'
As palavras chave mundo aparece no texto em 2022 tivemos copa do mundo'
As palavras chave estudar, praticar aparece no texto a melhor forma de estudar python é praticar'

In [8]:
import pandas as pd

df = pd.DataFrame([[4, 5, 6],[7, 8, 9]], columns=["coluna1", "coluna2", "coluna3"])
df

   coluna1  coluna2  coluna3
0        4        5        6
1        7        8        9

In [9]:
df["quadrado"] = df.apply(lambda row: row["coluna1"] * row["coluna2"], axis=1)
df

   coluna1  coluna2  coluna3  quadrado
0        4        5        6        20
1        7        8        9        56

In [10]:
df = pd.DataFrame([[4, 5, 6, 7, 8], [7, 8, 9, 10, 11]], columns=["column1", "column2", "column3", "column4", "column5"])

df_normalizado = df.apply(lambda col: (col - col.min()) / (col.max() - col.min()))
df_normalizado

   column1  column2  column3  column4  column5
0      0.0      0.0      0.0      0.0      0.0
1      1.0      1.0      1.0      1.0      1.0