In [ ]:
soma = 0

lista =[1,2,3,4,5]

for i in range(1,6):
    soma += i 
print(soma)

In [2]:
lista_original = [1,2,3,4,5]
nova_lista = []

for k in lista_original:
    nova_lista.append(k*2)
nova_lista

[2, 4, 6, 8, 10]

In [14]:
#Crie um programa para solicitar nomes e inseri os respectivos nomes em uma lista


lista_nomes = []

for i in range(3):
    nome = input("Digite nomes")
    lista_nomes.append(nome)
print(lista_nomes)




#Outro jeito:

['1', '1', '1']

In [13]:
lista_nomes = []

limite = int(input("digite o limite"))
for i in range(limite):
    nome = str(input("digite um nome"))
    lista_nomes.append(nome)
lista_nomes

['diego', 'jao', 'pedro', 'vitao', 'arthur']

In [15]:
lista_nomes = []
contador = 0
while contador < 4:
    nome = input("digite um nome")
    lista_nomes.append(nome)
    contador += 1

print(lista_nomes)

['diego', 'jao', 'artu', 'vitAO']

In [ ]:
palavras = ['python', 'javascript']

for i in palavras:
    for letra in i:
        print(letra)

In [21]:
for i in range(1, 5):
    for k in range(1, 5):
        print(i*k, end = " ")

1 2 3 4 2 4 6 8 3 6 9 12 4 8 12 16

In [ ]:
#Exercicio
#1.Crie um programa que simule uma tabuada apenas em multiplicacao
#2.Crie um programa que simule uma tabuada apenas de multiplicacao e insira em uma lista chamada lista_mult
#3.Crie um programa que simule as quatro operacoes (soma,subtracao,multi e divisao).
#4.Crie um programa que simule as quatro operacoes (soma,subtracao,multi e divisao) e insira isso em quatro listas

In [37]:
#1.Crie um programa que simule uma tabuada apenas em multiplicacao
for i in range(1, 5):
    for k in range(1, 5):
        print(i*k, end = " ")

2.0 4.0 8.0 16.0 32.0 64.0 128.0 256.0 512.0 1024.0

In [36]:
#2.Crie um programa que simule uma tabuada apenas de multiplicacao e insira em uma lista chamada lista_mult
lista_mult = []
for i in range(1,11):
    for k in range(1,11):
        lista_mult.append(i*k)

2.0 4.0 6.0 8.0 10.0 12.0 14.0 16.0 18.0 20.0

In [ ]:
#3.Crie um programa que simule as quatro operacoes (soma,subtracao,multi e divisao).
for i in range(1,11):
    print(i*k, end = " ")
    print(i/k, end = " ")
    print(i+k, end = " ")
    print(i-k, end = " ")

In [ ]:
#4.Crie um programa que simule as quatro operacoes (soma,subtracao,multi e divisao) e insira isso em quatro listas

lista_mult = []
lista_div = []
lista_soma = []
lista_sub = []

for i in range(1,11):
    for k in range(1,11):
        lista_mult.append(i*k)
        lista_div.append(i/k)
        lista_soma.append(i+k)
        lista_sub.append(i-k)

In [41]:
#5.Criar uma terceira lista com a soma dos elementos da lista 1 e lista 2.

lista1 = [1,2,3,4]
lista2 = [5,6,7,8]

lista_soma = []

for k in range(len(lista1)):
    lista_soma.append(lista1[k] + lista2[k])

In [38]:
for i in range (1,4):
    for k in range(1,4):
        if i == k:
            break
        print(i, "*",k, "=", i*k)

2 * 1 = 2
3 * 1 = 3
3 * 2 = 6

In [39]:
for i in "abc":
    for k in "123":
        print(i+k)

a1
a2
a3
b1
b2
b3
c1
c2
c3